@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:lightgrey;
    width: 100%;
    position: fixed; /* to keef the header fixed while scrolling*/
    z-index: 9999;/* to keef the header most visible while scrolling*/
    display: flex;
    justify-content: space-between;/*space between childs*/
    align-items: center;
    padding: 10px 200px;
}
.name{
    text-decoration: none;
    color:black;
    font-size: 1.5em;/*16 pixel is defualt em-->(16*1.5)*/
    text-transform: uppercase;
    font-weight: 700;/*like bold*/
}
.navigation a{
    color:black;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight:500 ;
    padding-left: 30px;
}
.navigation a:hover{
    color:red;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    padding-top: 200px;
    display: flex;
    align-items: center;
    background:url(background-ass.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h1{
    color: white;
    font-weight:700;
    font-size: 5em;
    margin-bottom:-20px;
}
.main h2{
    font-size: 2em;
    margin-left: 30px;
}
.intro{
    font-size: 1.8em;
    margin-left: -150px;
    font-weight: 500;
    background-color: lightcyan;
}
.intro span{
    font-size: 2em;
    font-weight:700 ;
}
.readlink {
    color: black;
    background-color:darkcyan;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 10px;
    padding: 15px;
    

}
.languages{
    background-color: lightcyan;
}
.title{
    font-size: 3em;
    margin-left: -150px;
    
}
.title p{
    font-size: 0.6em;
    font-style: italic;
    margin-bottom: 60px;
    font-weight: 500;

}
.all-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.block{
    
    box-shadow: 0 60px 90px rgba(1, 1, 1,40%);/* shafafeya ta3olet loon shadow*/
    border-radius: 15px;
    margin: 50px;
    padding: 25px;
    transition: 0.6s ease;

}
.block :hover{
    transform: scale(1.1);
}
.logo{
    text-align: center;
    font-size: 7em;

}
.info{
    text-align: center;
}
.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.youtube{
    background-color: lightcyan;
}
.youtube h1{
    font-size: 5em;
    margin-left: -150px;
}
.youtube p{
    font-size: 0.3em;
    font-style: italic;
    margin-bottom: 60px;

}
.youtube h2{
    font-size: 2.5em;
    margin-left: -150px;
}
.youtube ul{
    font-size: 2em;
    
}